*.pyc
report.log
report.aux
report.synctex.gz
prob1_best_fitness_run1.txt
prob1_best_fitness_run2.txt
prob1_best_fitness_run3.txt
prob2_best_fitness_run1.txt
prob2_best_fitness_run2.txt
prob2_best_fitness_run3.txt
prob3_best_fitness_run1.txt
prob3_best_fitness_run2.txt
prob3_best_fitness_run3.txt